/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

header, footer {
    background-color: #53a46e;
    padding: 20px;
    text-align: center;
}

.header-img {
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    width: 200px; /* Define a largura da imagem */
    height: 200px; /* Define a altura da imagem */
    border-radius: 50%; /* Transforma a imagem em um círculo */
}

h1 {
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
    text-align: center; /* Centraliza o texto */
}

p {
    font-size: 12px;
    text-align: center;
}

main {
    flex: 1;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Centraliza a lista */
}

li {
    margin: 10px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-icon {
    width: 24px;
    height: 24px;
}

/* Estilos para os links transformados em botões */
a.button {
    display: block;
    padding: 15px 20px;
    background-color: #007bff; /* Cor do botão */
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s; /* Animação de transição */
    max-width: 300px; /* Define a largura máxima para os botões */
    margin: 0 auto; /* Centraliza o botão */
}

/* Estilos para o hover dos botões */
a.button:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

.social-icon {
    justify-content: center; /* Centraliza os ícones horizontalmente */
    flex-wrap: wrap; /* Permite que os ícones quebrem linha se necessário */
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 0 10px; /* Espaçamento entre as imagens */
    vertical-align: middle; /* Alinha verticalmente as imagens ao meio */
}